@{
    ViewData["Title"] = "Products";
}

<div class="text-center">
    <h1 class="display-4">Products</h1>
  
<li>

<h4>
<a href="@Url.Action("Accessories", "Products")"><span>Accessories</span></a>
</h4>

<h6>
<a href="@Url.Action("BikeRacks", "Accessories")"><span>Bike Racks</span></a>
</h6>

<h6>
<a href="@Url.Action("BikeStands", "Accessories")"><span>Bike Stands</span></a>
</h6>

<h6>
<a href="@Url.Action("BottlesAndCages", "Accessories")"><span>Bottles And Cages</span></a>
</h6>

<h6>
<a href="@Url.Action("Cleaners", "Accessories")"><span>Cleaners</span></a>
</h6>

<h6>
<a href="@Url.Action("Fenders", "Accessories")"><span>Fenders</span></a>
</h6>

<h6>
<a href="@Url.Action("Helmets", "Accessories")"><span>Helmets</span></a>
</h6>

<h6>
<a href="@Url.Action("HydrationPacks", "Accessories")"><span>Hydration Packs</span></a>
</h6>

<h6>
<a href="@Url.Action("Lights", "Accessories")"><span>Lights</span></a>
</h6>

<h6>
<a href="@Url.Action("Locks", "Accessories")"><span>Locks</span></a>
</h6>

<h6>
<a href="@Url.Action("Panniers", "Accessories")"><span>Panniers</span></a>
</h6>

<h6>
<a href="@Url.Action("Pumps", "Accessories")"><span>Pumps</span></a>
</h6>

<h6>
<a href="@Url.Action("TiresAndTubes", "Accessories")"><span>Tires And Tubes</span></a>
</h6>

</li>

<li>

<h4>
<a href="@Url.Action("Bikes", "Products")"><span>Bikes</span></a>
</h4>

<h6>
<a href="@Url.Action("MountainBikes", "Bikes")"><span>Mountain Bikes</span></a>
</h6>

<h6>
<a href="@Url.Action("RoadBikes", "Bikes")"><span>Road Bikes</span></a>
</h6>

<h6>
<a href="@Url.Action("TouringBikes", "Bikes")"><span>Touring Bikes</span></a>
</h6>

</li>

<li>

    <h4>
<a href="@Url.Action("Clothing", "Products")"><span>Clothing</span></a>
</h4>

<h6>
<a href="@Url.Action("BibShorts", "Clothing")"><span>Bib Shorts</span></a>
</h6>

<h6>
<a href="@Url.Action("Caps", "Clothing")"><span>Caps</span></a>
</h6>

<h6>
<a href="@Url.Action("Gloves", "Clothing")"><span>Gloves</span></a>
</h6>

<h6>
<a href="@Url.Action("Jerseys", "Clothing")"><span>Jerseys</span></a>
</h6>

<h6>
<a href="@Url.Action("Shorts", "Clothing")"><span>Shorts</span></a>
</h6>

<h6>
<a href="@Url.Action("Socks", "Clothing")"><span>Socks</span></a>
</h6>

<h6>
<a href="@Url.Action("Tights", "Clothing")"><span>Tights</span></a>
</h6>

<h6>
<a href="@Url.Action("Vests", "Clothing")"><span>Vests</span></a>
</h6>

</li>

</div>