@{
    ViewData["Title"] = "VendorProducts";
}

<div class="text-center">
    <h1 class="display-4">Products</h1>

<li>

<h4>
<a href="@Url.Action("Accessories", "VendorProducts")"><span>Accessories</span></a>
</h4>

<h6>
<a href="@Url.Action("BikeRacks", "VendorAccessories")"><span>Bike Racks</span></a>
</h6>

<h6>
<a href="@Url.Action("BikeStands", "VendorAccessories")"><span>Bike Stands</span></a>
</h6>

<h6>
<a href="@Url.Action("BottlesAndCages", "VendorAccessories")"><span>Bottles And Cages</span></a>
</h6>

<h6>
<a href="@Url.Action("Cleaners", "VendorAccessories")"><span>Cleaners</span></a>
</h6>

<h6>
<a href="@Url.Action("Fenders", "VendorAccessories")"><span>Fenders</span></a>
</h6>

<h6>
<a href="@Url.Action("Helmets", "VendorAccessories")"><span>Helmets</span></a>
</h6>

<h6>
<a href="@Url.Action("HydrationPacks", "VendorAccessories")"><span>Hydration Packs</span></a>
</h6>

<h6>
<a href="@Url.Action("Lights", "VendorAccessories")"><span>Lights</span></a>
</h6>

<h6>
<a href="@Url.Action("Locks", "VendorAccessories")"><span>Locks</span></a>
</h6>

<h6>
<a href="@Url.Action("Panniers", "VendorAccessories")"><span>Panniers</span></a>
</h6>

<h6>
<a href="@Url.Action("Pumps", "VendorAccessories")"><span>Pumps</span></a>
</h6>

<h6>
<a href="@Url.Action("TiresAndTubes", "VendorAccessories")"><span>Tires And Tubes</span></a>
</h6>

</li>

<li>

<h4>
<a href="@Url.Action("Bikes", "VendorProducts")"><span>Bikes</span></a>
</h4>

<h6>
<a href="@Url.Action("MountainBikes", "VendorBikes")"><span>Mountain Bikes</span></a>
</h6>

<h6>
<a href="@Url.Action("RoadBikes", "VendorBikes")"><span>Road Bikes</span></a>
</h6>

<h6>
<a href="@Url.Action("TouringBikes", "VendorBikes")"><span>Touring Bikes</span></a>
</h6>

</li>

<li>

    <h4>
<a href="@Url.Action("Clothing", "VendorProducts")"><span>Clothing</span></a>
</h4>

<h6>
<a href="@Url.Action("BibShorts", "VendorClothing")"><span>Bib Shorts</span></a>
</h6>

<h6>
<a href="@Url.Action("Caps", "VendorClothing")"><span>Caps</span></a>
</h6>

<h6>
<a href="@Url.Action("Gloves", "VendorClothing")"><span>Gloves</span></a>
</h6>

<h6>
<a href="@Url.Action("Jerseys", "VendorClothing")"><span>Jerseys</span></a>
</h6>

<h6>
<a href="@Url.Action("Shorts", "VendorClothing")"><span>Shorts</span></a>
</h6>

<h6>
<a href="@Url.Action("Socks", "VendorClothing")"><span>Socks</span></a>
</h6>

<h6>
<a href="@Url.Action("Tights", "VendorClothing")"><span>Tights</span></a>
</h6>

<h6>
<a href="@Url.Action("Vests", "VendorClothing")"><span>Vests</span></a>
</h6>

</li>

<li>

 <h4>
<a href="@Url.Action("Components", "VendorProducts")"><span>Components</span></a>
</h4>

<h6>
<a href="@Url.Action("BottomBrackets", "Components")"><span>Bottom Brackets</span></a>
</h6>

<h6>
<a href="@Url.Action("Brakes", "Components")"><span>Brakes</span></a>
</h6>

<h6>
<a href="@Url.Action("Chains", "Components")"><span>Chains</span></a>
</h6>

<h6>
<a href="@Url.Action("Cranksets", "Components")"><span>Cranksets</span></a>
</h6>

<h6>
<a href="@Url.Action("Derailleurs", "Components")"><span>Derailleurs</span></a>
</h6>

<h6>
<a href="@Url.Action("Forks", "Components")"><span>Forks</span></a>
</h6>

<h6>
<a href="@Url.Action("Handlebars", "Components")"><span>Handlebars</span></a>
</h6>

<h6>
<a href="@Url.Action("Headsets", "Components")"><span>Headsets</span></a>
</h6>

<h6>
<a href="@Url.Action("MountainFrames", "Components")"><span>Mountain Frames</span></a>
</h6>

<h6>
<a href="@Url.Action("Pedals", "Components")"><span>Pedals</span></a>
</h6>

<h6>
<a href="@Url.Action("RawMaterials", "Components")"><span>Raw Materials</span></a>
</h6>

<h6>
<a href="@Url.Action("RoadFrames", "Components")"><span>Road Frames</span></a>
</h6>

<h6>
<a href="@Url.Action("Saddles", "Components")"><span>Saddles</span></a>
</h6>

<h6>
<a href="@Url.Action("TouringFrames", "Components")"><span>Touring Frames</span></a>
</h6>

<h6>
<a href="@Url.Action("Wheels", "Components")"><span>Wheels</span></a>
</h6>

</li>

</div>
